:root {
    --main-color: #dd9714;
    --obacity-paragraph: #777;
    --padding:100px ;
    --height: 200px;
}
/* Start Gobal Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* End Global Rules */
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
.parent {
    background-color: #eee;
}
.container {
    padding-left: 15px;
    padding-right:  15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after {
    content: "";
    position: absolute;
    background-color: #a2a2a2;
    height: 2px;
    bottom: 0px;
    width: calc(100% - 30px);
}
header .logo img {
    height: 60px;
}
header nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}
header nav ul {
    display: flex;
}
header nav .toggle-menu {
    color: black;
    font-size: 22px;
}
header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
    z-index: 2;
    position: relative;
}
header nav ul li a.active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
header nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid black;
}
header nav .form i {
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    font-size: 14px;
    color: white;
}
@media(min-width: 768px) {
    header nav .toggle-menu {
        display: none;
    }
}
@media(max-width: 767px) {
    header nav ul {
        display: none;
    }
}
header nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    top: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #ffe4c44a;
}
header nav .toggle-menu:hover + ul li a {
    padding: 15px !important;
}
/* End Header */
/* Start landing */
.landing {
    min-height: 100vh;
    background-color: #da9604;
    background-image: url(../Images/landing.jpg);
    background-size: cover;
    position: relative;
}
.landing .overlay {
    width: 100%;
    height: 100%;
    background-color: #00000075;
    position: absolute;
    left: 0;
    top: 0;
}
.landing .text {
    position: absolute;
    top: 50%;
    background-color: #dd97148c;
    height: 200px;
    transform: translateY(-50px); 
    padding: 50px;
    display: flex;
    justify-content: flex-end;
}
@media (max-width: 767px) {
    .landing .text {
    width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
    }
}
.landing .text .content {
    max-width: 600px;
}
.landing .text .content h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
    line-height: 1.6;
}
.landing .text .content p {
    font-size: 13px;
    font-weight: normal;
    line-height: 1.5;
}
.landing .change {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.landing .l {
    left: 20px;
}
.landing .r {
    right: 20px;
}
.landing .bullet {
    display: flex;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
}
.landing .bullet li {
    border: 1px solid black;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.landing .bullet li.active {
    background-color: black;
}
/* End landing */
/* Start Services */
.services {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.main-heading {
    text-align: center;
}
.main-heading h2 {
    text-transform: uppercase;
    font-weight: normal;
    margin: 40px;
    font-size: 30px;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 275px;
    background-color: #333;
    bottom: -190px;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -196px;
    height: 12px;
    width: 12px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #333;
}
.main-heading p {
    line-height: 2;
    font-size: 14px;
    color: var(--obacity-paragraph);
    max-width: 100%;
    width: 550px;
    margin: 0 auto 100px;
}
.services .srv-box {
    display: flex;
} 
.services .srv-box i {
    margin-right: 50px;
}
.services .srv-box h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}
.services .srv-box p {
    line-height: 1.6;
    color: var(--obacity-paragraph);
}
@media (min-width: 768px) {
    .services .srv-container {
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}
@media(max-width: 767px) {
    .services .srv-box {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
        text-align: center;
    }
    .services .srv-box i {
        margin: 0 0 30px;
    }
}
@media (max-width: 767px) {
    .main-heading h2::before {
        bottom: -225px;
    }
    .main-heading h2::after {
        bottom: -231px;
    }
}
/* End Services */
/* Start Design */
.design {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    position: relative;
    background-image: url(../Images/back.jpg);
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
}
.design .image img {
    max-width: 15%;
    position: relative;
    left: 65%;
    transform: translateX(-55%);
    top: -140px;
}
.design .text {
    position: relative;
    width: 100%;
    background-color: #dd971a87;
    text-align: center;
    padding: 25px;
}
.design .text h2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.design .text ul li {
    font-size: 20px;
    font-family: system-ui;
    padding: 15px 0;
}
.design .text ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f681';
    font-weight: 900;
    margin-right: 50px;
}
@media(max-width: 767px) {
    .design .image img {
        max-width: 29%;
        position: relative;
        left: 58%;
        transform: translateX(-55%);
        top: -215px;
    }
    .design .text ul li {
        font-size: 16px;
        font-family: system-ui;
        padding: 11px 7px;
    }
}
/* End Design */
/* Start Portfolio */
.portfolio {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
 }
.portfolio .shuffle {
    display: flex;
    justify-content: space-around;
    background-color: var(--main-color);
    font-size: 15px;
}
.portfolio .shuffle li {
    padding: 10px;
}
.portfolio .image-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.portfolio .image-container .box {
    flex-basis: 25%;
}
@media(max-width: 767px) {
    .portfolio .image-container .box {
        flex-basis: 50%;
        max-width: 100%;
    }
    .portfolio .shuffle li {
        padding: 5px;
    }
}
.portfolio .image-container img {
    max-width:100%;
}
.portfolio .caption {
    margin: 20px 10px 20px 10px;
    font-size: 14px;
    font-family: cursive;
}
.portfolio .more {
    text-decoration: none;
    background: var(--main-color);
    color: black;
    text-align: center;
    display: block;
    width: fit-content;
    position: relative;
    left: 50%;
    margin-top: 30px;
    padding: 10px;
    border-radius: 30%;
    transform: translateX(-50%);
    text-transform: uppercase;

}
/* End Portfolio */
/* Start video */
video {
    width: 100%;
}
.video {
    width: 100%;
    padding-bottom: var(--padding);
    position: relative;
}
.video::before {
    content: "";
    position: absolute;
}
.video .text {
    width: 100%;
}
/* .video .text::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000075;
} */
.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    background-color: #ffa300a6;
    padding: 60px;
}
.video .text h2 {
    margin-bottom: 60px;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    position: relative;
    top: -16px;
}
.video .text p {
    position: relative;
    top: -40px;
    word-spacing: 5px
}
.video .text button {
    text-transform: uppercase;
    padding: 5px;
    font-size: 15px;
    background-color: black;
    color: white;
}
@media(max-width: 767px) {
    .video .text {
        height: 162px;
        width: 100%;
        position: absolute;
        top: 235px;
        text-align: center;
        background-color: #ffa300a6;
        padding: 30px;
    }
    .video .text h2 {
        margin-bottom: 25px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        top: -20px;
}
    .video .text p {
        position: relative;
        top: -40px;
        word-spacing: 1px;
    }
    .video .text button {
        display: none;
    }
}
/* End video */
/* Start About */
.about {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.about .box ul {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.about .box ul li {
    background-color: var(--main-color);
    padding: 11px;
    font-weight: normal;
}
.about .box img {
    max-width: 100%;
}
@media(max-width: 767px) {
    .about {
        padding-top: var(--padding);
        padding-bottom: var(--padding);
    }
    .about .box ul {
        display: block;
        
    }
    .about .box ul li {
        background-color: var(--main-color);
        padding: 11px;
        font-weight: normal;
        margin-bottom: 15px;
        text-align: center;
    }
}
@media(max-width: 768px) {
    .about .box .image {
        margin: 0;
    }
}
.s1,
.s2,
.s3 {
    width: 100%;
}
.state {
    padding-top: var(--padding);
    padding-bottom: 400px;
    text-align: center;
    background-image: url(../Images/افتار____.jpg);
    background-size: cover;
    max-width: 100%;
    
}
.state .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dd971499;
    padding: 20px;
    flex-wrap: wrap;
}
.state .container .box {
    margin: 0 25px 0 auto;
}
@media(max-width: 767px) {
    .state .container .box {
    margin: -6px 20px 0 0;
    flex-basis: 50%;
    }
}
@media(max-width: 991px) {
    .state .container .box {
        margin: -6px 23px 60px 0px;
        flex-basis: 46%;
    }
}
@media(min-width: 992px) {
    .state .container .box {
        margin: 0 44px 50px 0px;
    }
}
.state .container .box i {
    font-size: 20px;
    width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}
.state .container .box .number {
    font-size: 50px;
    font-family: 'FontAwesome';
}
.state .container .box p {
    margin-top: 20px;
    font-size: 18px;
    font-family: cursive;
}
/* End About */
/* Start Skill */
.skills {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills .container > div {
    
}
.skills .container > div > h3 {
    margin-bottom: 40px;
    text-transform: uppercase;
    text-align: center;
}
.skills .container > div > p {
    text-align: center;
    line-height: 2;
    margin-bottom: 50px;
    color: #777;
}
.skills .container > div > h3 {

}
@media(min-width: 992px) {
    .skills .container > div {
        flex-basis: 45%;
    }
}
.skills .opinion .content {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.skills .opinion .content img {
    width: 100px;
    margin: 0 20px 40px 0;
    border-radius: 50%;
}
@media(max-width: 767px) {
    .skills .container .opinion .content {
        flex-direction: column;
        text-align: center;
    }
    .skills .container .opinion .content img {
        width: 100px;
        text-align: center;
        margin: 0 auto 50px;
    }
}
.skills .opinion .text {
    border-bottom: 1px solid #ccc;
    line-height: 1.8;
}
.skills .opinion .text p {
    text-align: right;
    font-size: 14px;
    color: #777;
}
.skills .opinion .bullets {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.skills .opinion .bullets li {
    border: 1px solid #aaa;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}
.skills .opinion .bullets li.active {
    background-color: black;
}
.skills .skill {

}
.skills .skill .prog-holder {
    margin-bottom: 40px;
}
.skills .skill .prog-holder h4 {
    text-transform: uppercase;
    margin-bottom: 50px;
}
.skills .skill .prog-holder .prog {
    background-color: #dedadc;
    height: 30px;
}
.skills .skill .prog-holder .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}
.skills .skill .prog-holder .prog span::before {
    content: attr(data-progress);
    position: absolute;
    background-color: black;
    top: -35px;
    right: 0;
    color: white;
    padding: 4px;
    margin: 0 -13px 0 0;
    border-radius: 15%;
}
.skills .skill .prog-holder .prog span::after {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: black transparent transparent transparent;
    right: -10px;
    top: -13px;
}
/* End Skill */
/* Start qoute */
.qoute {
    padding-top: 400px;
    padding-bottom: 400px;
    text-align: center;
    background-image: url(..//Images/pppp.jpg);
    background-size: cover;
    color: black ;
}
.qoute .container {
    position: relative;
}
.qoute .container q {
    line-height: 2;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    background-color: var(--main-color);
}
.qoute .container span {
    font-size: 15px;
    background-color: var(--main-color);
}
/* End qoute */
/* Start Pricing */
.pricing {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.pricing .box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}
.pricing .box .plan {
    background-color: #fcfcfc;
    text-align: center;
}
.pricing .box .plan .head {
    padding: 40px 20px;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
.pricing .box .plan .head h3 {
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 18px;
}
.pricing .box .plan .head span {
    font-family: 'FontAwesome';
    font-size: xx-large;
}
.pricing .box .plan ul {
    border-bottom: 2px solid var(--main-color);
}
.pricing .box .plan ul li {
    padding: 40px;
    position: relative;
    font-family: cursive
}
.pricing .box .plan ul li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 150px;
    height: 2px;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.pricing .box .plan .foot a {
    display: block;
    padding: 20px;
    border: 2px solid var(--main-color);
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.contact-text {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px
}
.contact-link {
    text-decoration: none;
    color: black;
    background-color: var(--main-color);
    padding: 15px;
    display: block;
    width: fit-content;
    text-align: center;
    margin: 10px auto 10px;
    border-radius: 45%;
}
/* End Pricing */
/* Start Subscribe */
.subscribe {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    background-image: url(../Images/moni.jpg);
    background-size: cover;
    position: relative;
    color: white;
}
.subscribe::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 50%);
}
.subscribe .container {
    position: relative;
    display: flex;
    align-items: center;
}
@media(max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }
}
.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%
}
.subscribe form i {    
}
.subscribe form input[type="email"] {
    border: 1px solid white;
    caret-color: var(--main-color);
    padding: 20px 20px 20px 60px;
    background: none;
    width: calc(100% - 130px);
    border-right: none;
}
.subscribe form input[type="submit"] {
    width: 130px;
    color: black;
    background-color: var(--main-color);
    padding: 10px 20px;
    text-transform: uppercase;
    border: 1px solid white;
    border-left: none;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
    outline: none;
}
.subscribe form ::placeholder {
    color: white;
}
.subscribe form i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
    color: var(--main-color);
}
.subscribe p {
    margin-left: 50px;
    line-height: 2;
    color: var(--main-color);
}
@media(max-width: 991px) {
    .subscribe p {
        margin: 30px 0 0;
    }
}
/* End Subscribe */
/* Start contact */
.contact {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
}
.contact .content {
    display: flex;
    justify-content: space-between;
}
.contact .content form {
    flex-basis: 70%;
}
.contact .content .main-input {
    display: block;
    padding: 20px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    width: 100%;
}
.contact .content .main-input:focus {
    outline: none;
}
.contact .content textarea.main-input {
    height: 200px;
}
.contact .content form input[type="submit"] {
    border: none;
    padding: 20px;
    border-radius: 45%;
    margin-left: auto;
    display: flex;
    background-color: var(--main-color);
    font-weight: 400;
    cursor: pointer;
    text-transform: uppercase;
}
.contact .content .info {
    flex-basis: 25%;
}
.contact .content .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: normal;
}
.contact .content .info .phone {
    display: block;
    margin-bottom: 20px;
    color: #777;
    position: relative;
}
.contact .content .info h4:nth-of-type(2) {
    font-weight: normal;
    margin-top: 80px;
}
.contact .content .info address {
    line-height: 2;
    color: #777;
}
.contact .content .info address i {
    color: black;
    margin-right: 10px
}
.contact .content .info .info-phone i {
    position: absolute;
    right: 355px;
}
@media(max-width: 767px) {
    .contact .content {
        flex-direction: column;
    }
    .contact .content .info {
        margin: 40px 50px;
        text-align: center;
    }
    .contact .content .info .info-phone i {
        right: 275px;
    }
    .contact .content .info h4:nth-of-type(2) {
        margin-top: 50px;
    }
}
/* End contact */
/* Start Footer */
.footer {
    padding-top: calc(var(--padding) / 2);
    padding-bottom: calc(var(--padding) / 2);
    text-align: center;
}
.footer img {
    margin-bottom: 10px;
    width: 15%;
}
@media(max-width: 767px) {
    .footer img {
        width: 50%;
    }
}
.footer p:not(.copyright) {
    text-transform: uppercase;
    font-family: cursive;
    word-spacing: 40px;
    border-bottom: 2px solid var(--main-color);
    padding: 18px;
    width: fit-content;
    margin: 0 auto;
    font-size: 16px;
}
.footer .social-icon i {
    margin: 10px 10px;
    font-size: 20px;
    padding: 10px;
}
.footer .copyright {
    margin-top: 100px
}
.footer .copyright span {
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer */